.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  position: relative;
  overflow: hidden;
}

.login-container::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  width: 200%;
  margin-left: -50%;
  animation: wave 15s infinite linear;
}

.login-container::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  height: 120px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
  width: 200%;
  margin-left: -50%;
  animation: wave 10s infinite linear;
  animation-delay: -5s;
}

@keyframes wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.8);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.login-card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 90%;
  max-width: 450px;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

@media (max-width: 480px) {
  .login-card {
    padding: 1.5rem;
  }
}
